body{
    display: flex;
    flex-direction: column;
    background-color: #e0e0e0;
    font-style: italic;
}
header{
    width: 100%;
    height: 30px;
    background-color: purple;
}
.hero{
    width: 100%;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
p{
    font-size: 21px;
}
.hero-info{
    margin: 30px 30px 30px 70px;
    max-width: 300px;
}
.hero-image{
    width: 350px;
    height: 350px;
    margin: 30px;
    border-radius: 100%;
}
@media only screen and (max-width:816px){
    .hero-info{
        max-width: 700px;
    }
    .hero-image{
       height: 250px;
       width: 250px; 
       margin-right: 10px;
    }
    p{
        font-size: 15px;
    }
}
.styled-break{
    width: 30px;
    height: 5px;
    background-color: #a17df4;
    border-radius: 2.5px;
    margin: 30px 0 30px 0;
}

#name{
    font-size: 45px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

section{
   
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 36px 0 0 0;
}
.about-me{
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
}
.info{
    max-width: 300px;
    margin: 5px;
}
.box{
    width: 30px;
    height: 30px;
    /* border-radius: 50px; */
    background-color: red;
    margin: 10px;
    /* flex-direction: row; */
    box-shadow: 2px 2px black;
}
form{
    margin: 0 0 40px 0;
}
.input-section{
margin: 10px 0;
display: flex;
}
.input-group{
display: flex;
flex-direction: column;
margin: 0 5px 0 0;
}
.button{
    padding: 10px 20px;
    border: 0;
    display: flex;
    width: 80px;
    font-size: 15px;
    background-color: #ef866c;
    border-radius: 20px;
    color: #ffffff;
    text-align: center;
    justify-content: center;
}

.button:hover{
    background-color: #ef744b;
}

.button:active{
    box-shadow: inset -2px -2px 3px rgba(255,255,255,0.6);
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: red;
    font-size: 20px;
}

nav{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.js{
    height: 35px;
    margin: 8px 15px;
    border-radius: 7px;
}
.nav-bar{
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    list-style-type: none;
}
li{
    padding: 10px;
    /* margin-left: 30px; */
    font-size: 18px;
}
footer{
    display: flex;
    justify-content: center;
}
.far{
    margin: 3px;
}
.nav-bar{
    display: none;
}
.nav-bar.show{
    display: flex;
}

.hamburger{
    border: 0;
    background-color: transparent;
    margin-top: 15px;
}
@media only screen and (min-width:700px){
.hamburger{
    display: none;
}
.nav-bar{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}
}